h1 {
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Arial, sans-serif;
}

p {
    font-size: 15px;font-family: Arial, sans-serif;
}

/* Archivo styles.css */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 20px; /* Espacio entre los divs */
    padding: 20px;
}

.item {
    background-color: lightgray; /* Fondo para cada div */
    padding: 10px;
    border: 1px solid lightgray; /* Borde negro alrededor de cada div */
    border-radius: 15px; /* Esquinas redondeadas */
    text-align: center;
}

audio {
    width: 100%; /* Asegura que el audio controle use el ancho completo del div */
    border-radius: 5px; /* Opcional: esquinas redondeadas para el control de audio */
}

#showNotification {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.notification.show {
    display: block;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}